body {
	font-family: 'Source Sans Pro', sans-serif;
}

hr {
    max-width: 50px;
    border-color: #7f8c8d;
    border-width: 2px;
}

/** NAVBAR STYLING BEGINS HERE **/

ul.nav li a, ul.nav li a:visited {
    color: #0f8a96 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #bdc3c7 !important;
}

ul.nav li.active a {
    color: #0f8a96 !important;
}

.navbar-nav {
	float: right;
}

.navbar-default {
	margin-bottom: 0;
}

/** NAVBAR STYLING ENDS HERE **/

/** INTRO STYLING BEGINS HERE **/
.box {
    height: 205px;
    background-color: white;
    margin-top: 45px;
}

.jumbotron {
	background: url('../img/cover.jpg') no-repeat;
    background-size: cover;
	text-align: center;
    margin-bottom: 0;
}

.jumbotron h1 {
	margin-bottom: .8em;
	font-size: 36px;
    font-style: italic;
    color: #4b4b4b;
}

.jumbotron p {
	margin-bottom: 2em;
    font-size: 16px;
}

.btn-lg {
    background: none !important;
    color: #0f8a96;
	border: 2px solid white;
    border-radius: 0%;
	width: 130px;
    font-size: 12px;
    margin-top: 30px;
}

/** DOES NOT WORK - FIX **/
.btn a:hover {
	background-color: white;
}

/** INTRO STYLING ENDS HERE **/

/** ABOUT ME STYLING BEGINS HERE **/
#about {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background-color: #0f8a96;
    padding-top: 20px;
    padding-bottom: 40px;
}

#about hr {
    border-color: white;
}

#skills {
    background-color: #ecf0f1;
    text-align: center;
    color: #7f8c8d;
    padding-bottom: 30px;
}

#skills h2 {
   color: #0f8a96; 
   padding-top: 20px;
}

.icons {
    display: inline;
}

/** ABOUT ME STYLING ENDS HERE **/
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: #0f8a96;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Source Sans Pro','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

#contact {
    height: 340px;
    background-color: #ecf0f1;
}

#contact h2 {
    text-align: center;
    color: #0f8a96;
    margin-top: 40px;
}

#contact p {
    color: #7f8c8d;
    font-size: 18px;
}

.glyphicon, .fa {
    font-size: 48px;
    color: #7f8c8d;
    margin-top: 20px;
}

.caption {
    text-align: center;
    font-size: 12px;
    color: #7f8c8d;
    margin-top: 30px; 
}


@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}
